Flow1.json
[{"id":"15f2e712.2b7609","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"e1197aa5.df4298","type":"rpi-gpio in","z":"15f2e712.2b7609","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":180,"wires":[["130c746b.787a1c","59077d14.845854"]]},{"id":"130c746b.787a1c","type":"debug","z":"15f2e712.2b7609","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":160,"wires":[]},{"id":"63ec5d7d.7650e4","type":"rpi-gpio out","z":"15f2e712.2b7609","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":750,"y":180,"wires":[]},{"id":"59077d14.845854","type":"switch","z":"15f2e712.2b7609","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":220,"wires":[["3b860ef8.ead1e2"],["4a9e8761.1abd98"]]},{"id":"3b860ef8.ead1e2","type":"change","z":"15f2e712.2b7609","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":200,"wires":[["63ec5d7d.7650e4"]]},{"id":"4a9e8761.1abd98","type":"change","z":"15f2e712.2b7609","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":240,"wires":[["63ec5d7d.7650e4"]]}]