Flow3.json
[{"id":"25782366.0dd25c","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"180d968b.4c7929","type":"inject","z":"25782366.0dd25c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":200,"wires":[["424462e3.881b1c"]]},{"id":"424462e3.881b1c","type":"function","z":"25782366.0dd25c","name":"Payload","func":"msg.headers={\n    deviceKey:\"InBPsoYQo9xyJgjd\"\n    };\nmsg.payload=\"Temperature1,,25.3\";\nmsg.payload=\"Humidity,,60\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["71cda5d3.c7e58c"]]},{"id":"71cda5d3.c7e58c","type":"http request","z":"25782366.0dd25c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DGGFsLkh/datapoints.csv","tls":"","proxy":"","authType":"","x":570,"y":200,"wires":[["c93910ad.cb111","b06da212.8d415"]]},{"id":"c93910ad.cb111","type":"http response","z":"25782366.0dd25c","name":"","statusCode":"","headers":{},"x":810,"y":200,"wires":[]},{"id":"b06da212.8d415","type":"debug","z":"25782366.0dd25c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":260,"wires":[]}]