Flow2.json
[{"id":"3bf3199.93e80e6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bf939f94.480a","type":"inject","z":"3bf3199.93e80e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":300,"wires":[["fedc4e64.fc691"]]},{"id":"fedc4e64.fc691","type":"function","z":"3bf3199.93e80e6","name":"Payload","func":"msg.headers={\n    deviceKey:\"InBPsoYQo9xyJgjd\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["e5d1d72c.433d68"]]},{"id":"e5d1d72c.433d68","type":"http request","z":"3bf3199.93e80e6","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DGGFsLkh/datachannels/LEDControl/datapoints.csv","tls":"","proxy":"","authType":"","x":550,"y":301,"wires":[["ac8d1d78.1036e","57947514.3fba8c"]]},{"id":"ac8d1d78.1036e","type":"debug","z":"3bf3199.93e80e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":340,"wires":[]},{"id":"57947514.3fba8c","type":"http response","z":"3bf3199.93e80e6","name":"","statusCode":"","headers":{},"x":750,"y":300,"wires":[]}]